@import url("reset.css");

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h1 {
	font-size: 28px;
	line-height: 40px;
	padding: 8px 50px;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 10px 20px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 10px 20px;
}

a {
	color: #333;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

a:hover {
	color: #000;
}

p {
	padding-bottom: 22px;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	height: 44px;
	background: url("../images/nav.png");
	opacity: 0.9;
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

	nav ul li a {
		display: block;
		margin-right: 20px;
		width: 140px;
		font-size: 14px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;
		color: #999;
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
	}

		nav ul li a:hover, nav ul li a.selected {
			opacity: 1;
			color: #fff;
		}

	nav ul li.rss a {
		margin-left: 22px;
		padding-left: 33px;
		text-align: left;
		background: url("../images/rss.png") left center no-repeat;
		opacity: 0.7;
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
	}
	
	nav ul li.rss a:hover {
		opacity: 1;
	}

#content {
	display: table;
	margin-top: 65px;
}

	#main {
		display: table-cell;
		background: #fff;
		width: 646px;
		padding: 0 20px;
		box-shadow: 0 3px 7px #555;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		text-overflow: ellipsis;
	}
	
		#main header h2 a {
			text-transform: capitalize;
			text-decoration: none;
			color: #333;
		}
	
		#main header p {
			text-indent: 0;
		}
		
		#main header p:first-letter {
			font-size: inherit;
		}
	
		#main p {
			margin-top: -10px;
			padding-left: 20px;
			text-indent: 10px;
		}
		
		#main p:first-letter {
			/*font-size: 30px;*/
		}
	
	#content #space {
		display: table-cell;
		width: 15px;
		height: auto;
	}

	aside {
		display: table-cell;
		background: #fff;
		width: 274px;
		box-shadow: 0 3px 7px #555;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	
ul.contact li {
	margin-left: 6px;
	margin-bottom: 10px;
}

ul.contact a {
	position:static;
	display: inline-block;
	width: 128px;
	height: 128px;
	opacity: 0.7;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

	ul.contact a:hover {
		opacity: 1;
	}
/*	
	ul.contact a:visited {
		border-radius: 5px;
		border: 1px solid #888;
	}
*/
	#email {
		background: url("../images/email-icon.png");
	}
	
	#jabber {
		background: url("../images/jabber-icon.png");
	}
	
	#live-messenger {
		background: url("../images/live-messenger-icon.png");
	}
	
	#gadu {
		background: url("../images/gadu-gadu-icon.png");
	}

	#facebook {
		background: url("../images/facebook-icon.png");
	}

	
	#google-plus {
		background: url("../images/google-plus-icon.png");
	}
	
	#qr {
		width: 256px;
		height: 256px;
		border-top: 1px solid #888;
		border-radius: 10px;
	}
/*
	#email:hover {
		background: url("../images/email-icon-p.png") no-repeat;
	}
	
	#jabber:hover {
		background: url("../images/jabber-icon-p.png") no-repeat;
	}
	
	#live-messenger:hover {
		background: url("../images/live-messenger-icon-p.png") no-repeat;
	}
	
	#gadu:hover {
		background: url("../images/gadu-gadu-icon-p.png") no-repeat top left;
	}
	
	#facebook:hover {
		background: url("../images/facebook-icon-p.png") no-repeat;
	}
	
	#google-plus:hover {
		background: url("../images/google-plus-icon-p.png") no-repeat;
	}
*/	
footer {
	margin-top: 10px;
	width: 100%;
	font-size: 0.8em;
	color: #888;
	text-align: center;
}